.hero-background {
    background: rgb(149, 48, 217);
    background: linear-gradient(
      85deg,
      rgba(149, 48, 217, 1) 0%,
      rgba(242, 61, 160, 1) 100%
    );
  }
  
  .btn-primary {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #e61094;
  }
  .btn-primary:hover {
    color: #c51180;
    background-color: #ddd3d3;
    border-color: #ddd3d3;
  }

  .text-pink{
    color: #e61094;
  }

  .text-purple{
    color: #471A73;
  }


#carouselExampleIndicators {
  width: 100%;
  max-width: 800px; 
  height: 400px; 
  margin: 0 auto; 
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-image {
  object-fit: cover; 
  width: 100%;
  height: 100%;
}
