
.bg-hero {
  background-image: url(../images/collage-hero.jpg);
  background-color: #cccccc;
  height: 100vh;
}

.btn-primary {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #e61094;
}
.btn-primary:hover {
  color: #c51180;
  background-color: #ddd3d3;
  border-color: #ddd3d3;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 0, 55, 0.90); /* Negro con 50% de opacidad */
    z-index: 1;
  }